# SQL PROJECT - BOOK LIBRARY MANAGEMENT

A library management system is used to maintain library records. It tracks Publisher details, Book details,Library Branch details,Book borrower details,Book loan details,Book copies details & Book Author details and how many books are issued, or how many books have been returned or renewed or late fine charges, etc.

Creator : Anandan Raju\
Platform : JupyterNotbook

In [1]:
import sqlite3
file = sqlite3.connect('D:\\DBMS\\BookLibraryMiniProject.db')
cursor = file.cursor()
cursor.close()
print('Data Base Created Successfully')

Data Base Created Successfully

In [2]:
file = sqlite3.connect('D:\\DBMS\\BookLibraryMiniProject.db')
cursor = file.cursor()
publisher_tbl = """CREATE TABLE PUBLISHER_TABLE(
                    PUBLISHER_NAME VARCHAR(100) PRIMARY KEY NOT NULL,
                    PUBLISHER_ADDRESS VARCHAR(200) NOT NULL,
                    PUBLISHER_PHONENUMBER VARCHAR(50) NOT NULL);"""
cursor.execute(publisher_tbl)
file.close
print('Publisher_Table is created')

Publisher_Table is created

In [7]:
file = sqlite3.connect('D:\\DBMS\\BookLibraryMiniProject.db')
cursor = file.cursor()
book_tbl = """CREATE TABLE BOOK_TABLE(
                    BOOK_ID INT IDENTITY (1,1) PRIMARY KEY NOT NULL,
                    BOOK_TITLE VARCHAR(100) NOT NULL,
                    PUBLISHER_NAME VARCHAR(100),
                    BOOK_PUBLISHER_NAME VARCHAR(100) NOT NULL,
                    CONSTRAINT PUBLISHER_NAME FOREIGN KEY (PUBLISHER_NAME) REFERENCES PUBLISHER_TABLE(PUBLISHER_NAME) ON UPDATE CASCADE ON DELETE CASCADE);"""
cursor.execute(book_tbl)
cursor.execute("PRAGMA foreign_keys=1")
file.close
print('Book_Table is created')

Book_Table is created

In [8]:
file = sqlite3.connect('D:\\DBMS\\BookLibraryMiniProject.db')
cursor = file.cursor()
library_branch_tbl = """CREATE TABLE LIBRARY_BRANCH_TABLE(
                    BRANCH_ID INT IDENTITY (1,1) PRIMARY KEY NOT NULL,
                    BRANCH_NAME VARCHAR(100) NOT NULL,
                    BRANCH_ADDRESS VARCHAR(200) NOT NULL);"""
cursor.execute(library_branch_tbl)
file.close
print('Library_Branch_Table is created')

Library_Branch_Table is created

In [9]:
file = sqlite3.connect('D:\\DBMS\\BookLibraryMiniProject.db')
cursor = file.cursor()
borrower_tbl="""CREATE TABLE BORROWER_TABLE(
                    BORROWER_CARD_NO INT IDENTITY (100,1) PRIMARY KEY NOT NULL,
                    BORROWER_NAME VARCHAR(100) NOT NULL,
                    BORROW_ADDRESS VARCHAR(200) NOT NULL,
                    BORROW_PHONE VARCHAR(50) NOT NULL);"""
cursor.execute(borrower_tbl)
file.close()
print('Borrower_Table created successfully')

Borrower_Table created successfully

In [10]:
file = sqlite3.connect('D:\\DBMS\\BookLibraryMiniProject.db')
cursor = file.cursor()
book_loans_tbl="""CREATE TABLE BOOK_LOANS_TABLE(
                    BOOK_LOANS_ID INT IDENTITY (1,1) PRIMARY KEY NOT NULL,
                    BOOK_LOANS_BOOK_ID INT NOT NULL,
                    BOOK_LOANS_BRANCH_ID INT NOT NULL,
                    BOOK_LOANS_CARD_NO INT NOT NULL,
                    BOOK_LOANS_DATAOUT VARCHAR(50) NOT NULL,
                    BOOK_LOANS_DUEDATE VARCHAR(50) NOT NULL,
                    BOOK_ID INT,
                    BRANCH_ID INT, 
                    BORROWER_CARD_NO INT,
                    CONSTRAINT BOOK_ID FOREIGN KEY (BOOK_ID) REFERENCES BOOK_TABLE(BOOK_ID) ON UPDATE CASCADE ON DELETE CASCADE,
                    CONSTRAINT BRANCH_ID FOREIGN KEY (BRANCH_ID) REFERENCES LIBRARY_BRANCH_TABLE(BRANCH_ID) ON UPDATE CASCADE ON DELETE CASCADE,
                    CONSTRAINT BORROWER_CARD_NO FOREIGN KEY (BORROWER_CARD_NO) REFERENCES BORROWER_TABLE(BORROWER_CARD_NO) ON UPDATE CASCADE ON DELETE CASCADE);"""
cursor.execute(book_loans_tbl)
cursor.execute("PRAGMA foreign_keys=3")
file.close
print('Book_Loans_Table created successfully')

Book_Loans_Table created successfully

In [11]:
file = sqlite3.connect('D:\\DBMS\\BookLibraryMiniProject.db')
cursor = file.cursor()
book_copies_tbl="""CREATE TABLE BOOK_COPIES_TABLE(
                    BOOK_COPIES_ID INT IDENTITY (1,1) PRIMARY KEY NOT NULL,
                    BOOK_COPIES_BOOK_ID INT NOT NULL,
                    BOOK_COPIES_BRANCH_ID INT NOT NULL,
                    BOOK_COPIES_NO_OF_COPIES INT NOT NULL,
                    BOOK_ID INT,
                    BRANCH_ID INT, 
                    CONSTRAINT BOOK_ID FOREIGN KEY (BOOK_ID) REFERENCES BOOK_TABLE(BOOK_ID) ON UPDATE CASCADE ON DELETE CASCADE,
                    CONSTRAINT BRANCH_ID FOREIGN KEY (BRANCH_ID) REFERENCES LIBRARY_BRANCH_TABLE(BRANCH_ID) ON UPDATE CASCADE ON DELETE CASCADE);"""
cursor.execute(book_copies_tbl)
cursor.execute("PRAGMA foreign_keys=2")
file.close()
print('Book_Copies_Table created successfully')

Book_Copies_Table created successfully

In [12]:
file = sqlite3.connect('D:\\DBMS\\BookLibraryMiniProject.db')
cursor = file.cursor()
book_authors_tbl="""CREATE TABLE BOOK_AUTHORS_TABLE(
                    BOOK_AUTHOR_ID INT IDENTITY (1,1) PRIMARY KEY NOT NULL,
                    BOOK_AUTHORS_BOOK_ID INT NOT NULL,
                    BOOK_AUTHORS_NAME VARCHAR(50) NOT NULL,
                    BOOK_ID INT,
                    CONSTRAINT BOOK_ID FOREIGN KEY (BOOK_ID) REFERENCES BOOK_TABLE(BOOK_ID) ON UPDATE CASCADE ON DELETE CASCADE);"""
cursor.execute(book_authors_tbl)
cursor.execute("PRAGMA foreign_keys=1")
file.close()
print('Book_Authors_Table created successfully')

Book_Authors_Table created successfully

In [13]:
conn=sqlite3.connect("D:\\DBMS\\BookLibraryMiniProject.db")
cursor = conn.cursor()
conn.execute(
"""INSERT INTO PUBLISHER_TABLE ( PUBLISHER_NAME,PUBLISHER_ADDRESS,PUBLISHER_PHONENUMBER) 
    VALUES ('DAW Books','375 Hudson Street, New York, NY 10014','212-366-2000'),
        ('Viking','375 Hudson Street, New York, NY 10014','212-366-2000'),
        ('Signet Books','375 Hudson Street, New York, NY 10014','212-366-2000'),
        ('Chilton Books','Not Available','Not Available'),
        ('George Allen & Unwin','83 Alexander Ln, Crows Nest NSW 2065, Australia','+61-2-8425-0100'),
        ('Alfred A. Knopf','The Knopf Doubleday Group Domestic Rights, 1745 Broadway, New York, NY 10019','212-940-7390'),
        ('Bloomsbury','Bloomsbury Publishing Inc., 1385 Broadway, 5th Floor, New York, NY 10018','212-419-5300'),
        ('Shinchosa','Oga Bldg. 8, 2-5-4 Sarugaku-cho, Chiyoda-ku, Tokyo 101-0064 Japan','+81-3-5577-6507'),
        ('Harper and Row','HarperCollins Publishers, 195 Broadway, New York, NY 10007','212-207-7000'),
        ('Pan Books','175 Fifth Avenue, New York, NY 10010','646-307-5745'),
        ('Chalto & Windus','375 Hudson Street, New York, NY 10014','212-366-2000'),
        ('Harcourt Brace Jovanovich','3 Park Ave, New York, NY 10016','212-420-5800'),
        ('W.W. Norton',' W. W. Norton & Company, Inc., 500 Fifth Avenue, New York, New York 10110','212-354-5500'),
        ('Scholastic','557 Broadway, New York, NY 10012','800-724-6527'),
        ('Bantam','375 Hudson Street, New York, NY 10014','212-366-2000'),
        ('Picador USA','175 Fifth Avenue, New York, NY 10010','646-307-5745')""")

print('Data Inserted in the Publisher Table successfully')
data=cursor.execute('''select * from PUBLISHER_TABLE''')
print(data)
conn.commit()
conn.close()

Data Inserted in the Publisher Table successfully
<sqlite3.Cursor object at 0x000001FC3908D110>

In [23]:
conn=sqlite3.connect("D:\\DBMS\\BookLibraryMiniProject.db")
cursor = conn.cursor()
conn.execute(
"""INSERT INTO BOOK_TABLE (BOOK_ID,BOOK_TITLE,BOOK_PUBLISHER_NAME) 
    VALUES ('1','The Name of the Wind', 'DAW Books'),
        ('2','It', 'Viking'),
        ('3','The Green Mile', 'Signet Books'),
        ('4','Dune', 'Chilton Books'),
        ('5','The Hobbit', 'George Allen & Unwin'),
        ('6','Eragon', 'Alfred A. Knopf'),
        ('7','A Wise Mans Fear', 'DAW Books'),
        ('8','Harry Potter and the Philosophers Stone', 'Bloomsbury'),
        ('9','Hard Boiled Wonderland and The End of the World', 'Shinchosa'),
        ('10','The Giving Tree', 'Harper and Row'),
        ('11','The Hitchhikers Guide to the Galaxy', 'Pan Books'),
        ('12','Brave New World', 'Chalto & Windus'),
        ('13','The Princess Bride', 'Harcourt Brace Jovanovich'),
        ('14','Fight Club', 'W.W. Norton'),
        ('15','Holes', 'Scholastic'),
        ('16','Harry Potter and the Chamber of Secrets', 'Bloomsbury'),
        ('17','Harry Potter and the Prisoner of Azkaban', 'Bloomsbury'),
        ('18','The Fellowship of the Ring', 'George Allen & Unwin'),
        ('19','A Game of Thrones', 'Bantam'),
        ('20','The Lost Tribe', 'Picador USA');""")

print('Data Inserted in the Book Table successfully')
data=cursor.execute('''select * from BOOK_TABLE WHERE PUBLISHER_NAME = 'George Allen & Unwin' ''')
print(data)
conn.commit()
conn.close()

Data Inserted in the Book Table successfully
<sqlite3.Cursor object at 0x000001FC390F2500>

In [25]:
conn=sqlite3.connect("D:\\DBMS\\BookLibraryMiniProject.db")
cursor = conn.cursor()
conn.execute(
"""INSERT INTO LIBRARY_BRANCH_TABLE (BRANCH_ID,BRANCH_NAME,BRANCH_ADDRESS) 
    VALUES ('1A','Sharpstown','32 Corner Road, New York, NY 10012'),
        ('2A','Central','491 3rd Street, New York, NY 10014'),
        ('3A','Saline','40 State Street, Saline, MI 48176'),
        ('4A','Ann Arbor','101 South University, Ann Arbor, MI 48104');""")

print('Data Inserted in the Library Branch Table successfully')
data=cursor.execute('''select * from LIBRARY_BRANCH_TABLE''')
print(data)
conn.commit()
conn.close()

Data Inserted in the Library Branch Table successfully
<sqlite3.Cursor object at 0x000001FC392236C0>

In [26]:
conn=sqlite3.connect("D:\\DBMS\\BookLibraryMiniProject.db")
cursor = conn.cursor()
conn.execute(
"""INSERT INTO BORROWER_TABLE (BORROWER_CARD_NO,BORROWER_NAME,BORROW_ADDRESS,BORROW_PHONE) 
    VALUES ('1001AB','Joe Smith','1321 4th Street, New York, NY 10014','212-312-1234'),
        ('1002AB','Jane Smith','1321 4th Street, New York, NY 10014','212-931-4124'),
        ('1003AB','Tom Li','981 Main Street, Ann Arbor, MI 48104','734-902-7455'),
        ('1004AB','Angela Thompson','2212 Green Avenue, Ann Arbor, MI 48104','313-591-2122'),
        ('1005AB','Harry Emnace','121 Park Drive, Ann Arbor, MI 48104','412-512-5522'),
        ('1006AB','Tom Haverford','23 75th Street, New York, NY 10014','212-631-3418'),
        ('1007AB','Haley Jackson','231 52nd Avenue New York, NY 10014','212-419-9935'),
        ('1008AB','Michael Horford','653 Glen Avenue, Ann Arbor, MI 48104','734-998-1513');""")

print('Data Inserted in the Borrower Table successfully')
data=cursor.execute('''select * from BORROWER_TABLE''')
print(data)
conn.commit()
conn.close()

Data Inserted in the Borrower Table successfully
<sqlite3.Cursor object at 0x000001FC39223F80>

In [27]:
conn=sqlite3.connect("D:\\DBMS\\BookLibraryMiniProject.db")
cursor = conn.cursor()
conn.execute(
"""INSERT INTO BOOK_LOANS_TABLE (BOOK_LOANS_ID,BOOK_LOANS_BOOK_ID,BOOK_LOANS_BRANCH_ID,BOOK_LOANS_CARD_NO,BOOK_LOANS_DATAOUT,BOOK_LOANS_DUEDATE) 
    VALUES ('1001AB','1','1','100','1/1/18','2/2/18'),
        ('1002AB','2','1','100','1/1/18','2/2/18'),
        ('1003AB','3','1','100','1/1/18','2/2/18'),
        ('1004AB','4','1','100','1/1/18','2/2/18'),
        ('1005AB','5','1','102','1/3/18','2/3/18'),
        ('1006AB','6','1','102','1/3/18','2/3/18'),
        ('1007AB','7','1','102','1/3/18','2/3/18'),
        ('1008AB','8','1','102','1/3/18','2/3/18'),
        ('1009AB','9','1','102','1/3/18','2/3/18'),
        ('1010AB','11','1','102','1/3/18','2/3/18'),
        ('1011AB','12','2','105','12/12/17','1/12/18'),
        ('1012AB','10','2','105','12/12/17','1/12/17'),
        ('1013AB','20','2','105','2/3/18','3/3/18'),
        ('1014AB','18','2','105','1/5/18','2/5/18'),
        ('1015AB','19','2','105','1/5/18','2/5/18'),
        ('1016AB','19','2','100','1/3/18','2/3/18'),
        ('1017AB','11','2','106','1/7/18','2/7/18'),
        ('1018AB','1','2','106','1/7/18','2/7/18'),
        ('1019AB','2','2','100','1/7/18','2/7/18'),
        ('1020AB','3','2','100','1/7/18','2/7/18'),
        ('1021AB','5','2','105','12/12/17','1/12/18'),
        ('1022AB','4','3','103','1/9/18','2/9/18'),
        ('1023AB','7','3','102','1/3/18','2/3/18'),
        ('1024AB','17','3','102','1/3/18','2/3/18'),
        ('1025AB','16','3','104','1/3/18','2/3/18'),
        ('1026AB','15','3','104','1/3/18','2/3/18'),
        ('1027AB','15','3','107','1/3/18','2/3/18'),
        ('1028AB','14','3','104','1/3/18','2/3/18'),
        ('1029AB','13','3','107','1/3/18','2/3/18'),
        ('1030AB','13','3','102','1/3/18','2/3/18'),
        ('1031AB','19','3','102','12/12/17','1/12/18'),
        ('1032AB','20','4','103','1/3/18','2/3/18'),
        ('1033AB','1','4','102','1/12/18','2/12/18'),
        ('1034AB','3','4','107','1/3/18','2/3/18'),
        ('1035AB','18','4','107','1/3/18','2/3/18'),
        ('1036AB','12','4','102','1/4/18','2/4/18'),
        ('1037AB','11','4','103','1/15/18','2/15/18'),
        ('1038AB','9','4','103','1/15/18','2/15/18'),
        ('1039AB','7','4','107','1/1/18','2/2/18'),
        ('1040AB','4','4','103','1/1/18','2/2/18'),
        ('1041AB','1','4','103','2/2/17','3/2/18'),
        ('1042AB','20','4','103','1/3/18','2/3/18'),
        ('1043AB','1','4','102','1/12/18','2/12/18'),
        ('1044AB','3','4','107','1/13/18','2/13/18'),
        ('1045AB','18','4','107','1/13/18','2/13/18'),
        ('1046AB','12','4','102','1/14/18','2/14/18'),
        ('1047AB','11','4','103','1/15/18','2/15/18'),
        ('1048AB','9','4','103','1/15/18','2/15/18'),
        ('1049AB','7','4','107','1/19/18','2/19/18'),
        ('1051AB','4','4','103','1/19/18','2/19/18'),
        ('1052AB','1','4','103','1/22/18','2/22/18');""")

print('Data Inserted in the Book Loans Table successfully')
data=cursor.execute('''select * from BOOK_LOANS_TABLE''')
print(data)
conn.commit()
conn.close()

Data Inserted in the Book Loans Table successfully
<sqlite3.Cursor object at 0x000001FC392235E0>

In [32]:
conn=sqlite3.connect("D:\\DBMS\\BookLibraryMiniProject.db")
cursor = conn.cursor()
conn.execute(
"""INSERT INTO BOOK_COPIES_TABLE (BOOK_COPIES_ID,BOOK_COPIES_BOOK_ID,BOOK_COPIES_BRANCH_ID,BOOK_COPIES_NO_OF_COPIES) 
    VALUES ('1AA','1','1','5'),
        ('1AB','2','1','5'),
        ('2AC','3','1','5'),
        ('3AD','4','1','5'),
        ('4AE','5','1','5'),
        ('5AF','6','1','5'),
        ('6AG','7','1','5'),
        ('7AH','8','1','5'),
        ('8AI','9','1','5'),
        ('9AJ','10','1','5'),
        ('1AK','11','1','5'),
        ('2AL','12','1','5'),
        ('3AM','13','1','5'),
        ('4AN','14','1','5'),
        ('5AO','15','1','5'),
        ('6AP','16','1','5'),
        ('7AQ','17','1','5'),
        ('8AR','18','1','5'),
        ('9AS','19','1','5'),
        ('1AT','20','1','5'),
        ('2AU','1','2','5'),
        ('3AV','2','2','5'),
        ('4AW','3','2','5'),
        ('5AX','4','2','5'),
        ('6AY','5','2','5'),
        ('7AZ','6','2','5'),
        ('8BA','7','2','5'),
        ('9BA','8','2','5'),
        ('1BA','9','2','5'),
        ('2BB','10','2','5'),
        ('3BC','11','2','5'),
        ('4BD','12','2','5'),
        ('5BE','13','2','5'),
        ('6BF','14','2','5'),
        ('7BG','15','2','5'),
        ('8BH','16','2','5'),
        ('9BI','17','2','5'),
        ('1BJ','18','2','5'),
        ('2BK','19','2','5'),
        ('3BL','20','2','5'),
        ('4BM','1','3','5'),
        ('5BN','2','3','5'),
        ('6BO','3','3','5'),
        ('7BP','4','3','5'),
        ('8BQ','5','3','5'),
        ('9BR','6','3','5'),
        ('1BS','7','3','5'),
        ('2BT','8','3','5'),
        ('3BU','9','3','5'),
        ('4BV','10','3','5'),
        ('5BW','11','3','5'),
        ('6BX','12','3','5'),
        ('7BY','13','3','5'),
        ('8BZ','14','3','5'),
        ('9CA','15','3','5'),
        ('1CB','16','3','5'),
        ('2CC','17','3','5'),
        ('3CD','18','3','5'),
        ('4CE','19','3','5'),
        ('5CF','20','3','5'),
        ('6CG','1','4','5'),
        ('7CH','2','4','5'),
        ('8CI','3','4','5'),
        ('9CJ','4','4','5'),
        ('1CK','5','4','5'),
        ('2CL','6','4','5'),
        ('3CM','7','4','5'),
        ('4CN','8','4','5'),
        ('5CO','9','4','5'),
        ('6CP','10','4','5'),
        ('7CQ','11','4','5'),
        ('8CR','12','4','5'),
        ('9CS','13','4','5'),
        ('1CT','14','4','5'),
        ('2CU','15','4','5'),
        ('3CV','16','4','5'),
        ('4CW','17','4','5'),
        ('5CX','18','4','5'),
        ('6CY','19','4','5'),
        ('7CZ','20','4','5');""")

print('Data Inserted in the Book Copies Table successfully')
data=cursor.execute('''select * from BOOK_COPIES_TABLE''')
print(data)
conn.commit()
conn.close()

Data Inserted in the Book Copies Table successfully
<sqlite3.Cursor object at 0x000001FC392D5AB0>

In [33]:
conn=sqlite3.connect("D:\\DBMS\\BookLibraryMiniProject.db")
cursor = conn.cursor()
conn.execute(
"""INSERT INTO BOOK_AUTHORS_TABLE (BOOK_AUTHOR_ID,BOOK_AUTHORS_BOOK_ID,BOOK_AUTHORS_NAME) 
    VALUES ('AI1','1','Patrick Rothfuss'),
        ('AI01','2','Stephen King'),
        ('AI02','3','Stephen King'),
        ('AI03','4','Frank Herbert'),
        ('AI04','5','J.R.R. Tolkien'),
        ('AI05','6','Christopher Paolini'),
        ('AI06','6','Patrick Rothfuss'),
        ('AI07','8','J.K. Rowling'),
        ('AI08','9','Haruki Murakami'),
        ('AI09','10','Shel Silverstein'),
        ('AI10','11','Douglas Adams'),
        ('AI11','12','Aldous Huxley'),
        ('AI12','13','William Goldman'),
        ('AI13','14','Chuck Palahniuk'),
        ('AI14','15','Louis Sachar'),
        ('AI15','16','J.K. Rowling'),
        ('AI16','17','J.K. Rowling'),
        ('AI17','18','J.R.R. Tolkien'),
        ('AI18','19','George R.R. Martin'),
        ('AI19','20','Mark Lee');""")

print('Data Inserted in the Book Authors Table successfully')
data=cursor.execute('''select * from BOOK_AUTHORS_TABLE''')
print(data)
conn.commit()
conn.close()

Data Inserted in the Book Authors Table successfully
<sqlite3.Cursor object at 0x000001FC39282F10>